{
  "swagger": "2.0",
  "info": {
    "title": "BRP Informatie service",
    "description": "Interne service voor het bevragen van BRP informatie. Deze versie bevat uitsluitend ondersteuning voor natuurlijke personen.",
    "termsOfService": "Uitsluitend voor intern gebruik door de Gemeente Amsterdam",
    "contact": {
      "name": "Datapunt Support",
      "url": "https://data.amsterdam.nl/",
      "email": "datapunt@amsterdam.nl"
    },
    "license": {
      "name": "TBD",
      "url": "http://url.van.mogelijke/licentie"
    },
    "version": "1.0.0"
  },
  "host": "brp.data.amsterdam.nl",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/brp/bsn": {
      "get": {
        "description": "Geef het BSN van de huidige gebruiker terug",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "BSN",
            "schema": {
              "$ref": "#/definitions/bsn"
            }
          }
        }
      }
    },
    "/status/health": {
      "get": {
        "description": "Geef OK indien applicatie werkt",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/bsn"
            }
          }
        }
      }
    },
    "/brp/brp": {
      "get": {
        "description": "Informatie over huidige gebruiker uit de basisregistratie personen",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Basisregistratiegegevens",
            "schema": {
              "$ref": "#/definitions/profiel"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "bsn": {
      "type": "object",
      "required": [
        "burgerservicenummer"
      ],
      "properties": {
        "burgerservicenummer": {
          "type": "integer"
        }
      }
    },
    "profiel": {
      "type": "object",
      "required": [
        "voornamen",
        "achternaam"
      ],
      "properties": {
        "voornamen": {
          "type": "string"
        },
        "tussenvoegsels": {
          "type": "string"
        },
        "achternaam": {
          "type": "string"
        }
      }
    }
  }
}
