swagger: '2.0'
info:
  version: '1.0.0'
  title: BRP Informatie service
  description: Internal service for getting BRP details. This version only supports "natuurlijke personen"
  contact:
    email: datapunt@amsterdam.nl
    name: Datapunt Support
    url: https://data.amsterdam.nl/
host: mijn.amsterdam.nl
#basePath: /brp
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /status/health:
    get:
      description: Endpoint for checking wheter the server has started.
      responses:
        200:
          description: Returns "OK" when server is started
          schema:
            type: string
  /brp/bsn:
    get:
      description: Return BSN of currently logged in user.
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: BSN
          schema:
            $ref: '#/definitions/bsn'
          headers: {}
  /brp/brp:
    get:
      description: Information of current user from "basisregistratie personen"
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Basisregistratiegegevens
          schema:
            $ref: '#/definitions/brp'
          headers: {}
definitions:
  bsn:
    title: bsn
    type: object
    properties:
      burgerservicenummer:
        type: integer
    required:
    - burgerservicenummer
  persoon:
    title: persoon
    type: object
    properties:
      omschrijvingAdellijkeTitel:
        $ref: '#/definitions/AdellijkeTitelPredikaat'
      aanduidingNaamgebruikOmschrijving:
        type: string
      bsn:
        type: string
      opgemaakteNaam:
        type: string
      geslachtsnaam:
        type: string
      voorvoegselGeslachtsnaam:
        type: string
      voornamen:
        type: string
      geboortelandnaam:
        type: string
      geboorteLand:
        type: integer
      geboorteplaatsnaam:
        type: string
      geboorteplaats:
        type: integer
      geboortedatum:
        type: string
        format: date-time
      gemeentenaamInschrijving:
        type: string
      omschrijvingGeslachtsaanduiding:
        $ref: '#/definitions/OmschrijvingGeslachtsaanduiding'
      geslachtsaanduiding:
        $ref: '#/definitions/Geslachtsaanduiding'
      omschrijvingBurgerlijkeStaat:
        type: string
      mokum:
        description: True if person is living in Amsterdam
        type: boolean
      nationaliteiten:
        type: array
        items:
          $ref: '#/definitions/Nationaliteiten'
      vertrokkenOnbekendWaarheen:
        type: boolean
      datumVertrekUitNederland:
        description: This value can be used if `vertrokkenOnbekendWaarheen` is True
        type: string
        format: 'date-time'
      emigratieLand:
        type: string
      omschrijvingIndicatieGeheim:
        type: string
  adres:
    title: adres
    type: object
    properties:
      begindatumVerblijf:
        type: string
        format: date-time
      huisnummer:
        type: string
      huisletter:
        type: string
      huisnummertoevoeging:
        type: string
      postcode:
        type: string
      straatnaam:
        type: string
      woonplaatsNaam:
        type: string
  verbintenis:
    title: verbintenis
    type: object
    properties:
      datumOntbinding:
        type: string
        format: date-time
      datumSluiting:
        type: string
        format: date-time
      landnaamSluiting:
        type: string
      plaatsnaamSluitingOmschrijving:
        type: string
      soortVerbintenis:
        $ref: '#/definitions/SoortVerbintenis'
      soortVerbintenisOmschrijving:
        type: string
      persoon:
        $ref: '#/definitions/partnerpersoon'
  kind:
    title: kind
    type: object
    properties:
      adellijkeTitelPredikaat:
        $ref: '#/definitions/AdellijkeTitelPredikaat'
      bsn:
        type: string
      geslachtsnaam:
        type: string
      voorvoegselGeslachtsnaam:
        type: string
      voornamen:
        type: string
      geboorteLand:
        type: integer
      geboorteplaats:
        type: integer
      geboortedatum:
        type: string
        format: date-time
      omschrijvingGeslachtsaanduiding:
        $ref: '#/definitions/OmschrijvingGeslachtsaanduiding'
      geslachtsaanduiding:
        $ref: '#/definitions/Geslachtsaanduiding'
      overlijdensdatum:
        type: string
        format: 'date-time'
  ouder:
    title: ouder
    type: object
    properties:
      adellijkeTitelPredikaat:
        $ref: '#/definitions/AdellijkeTitelPredikaat'
      bsn:
        type: string
      geslachtsnaam:
        type: string
      voorvoegselGeslachtsnaam:
        type: string
      voornamen:
        type: string
      geboorteLand:
        type: integer
      geboorteplaats:
        type: integer
      geboortedatum:
        type: string
        format: date-time
      omschrijvingGeslachtsaanduiding:
        $ref: '#/definitions/OmschrijvingGeslachtsaanduiding'
      geslachtsaanduiding:
        $ref: '#/definitions/Geslachtsaanduiding'
      overlijdensdatum:
        type: string
        format: 'date-time'

  brp:
    title: brp
    type: object
    properties:
      persoon:
        $ref: '#/definitions/persoon'
      adres:
        $ref: '#/definitions/adres'
      verbintenis:
        $ref: '#/definitions/verbintenis'
      ouders:
        type: array
        items:
          $ref: '#/definitions/ouder'
      kinderen:
        type: array
        items:
          $ref: '#/definitions/kind'
  Geslachtsaanduiding:
    title: Geslachtsaanduiding
    example: M
    type: string
    enum:
    - M
    - V
  AdellijkeTitelPredikaat:
    title: AdellijkeTitelPredikaat
    type: string
    enum:
      - Baron
      - Barones
      - Graaf
      - Gravin
      - Hertog
      - Hertogin
      - Jonkheer
      - Jonkvrouw
      - Markies
      - Markiezin
      - Prins
      - Prinses
      - Ridder
  Nationaliteiten:
    title: Nationaliteiten
    type: object
    properties:
      omschrijving:
        type: string
  OmschrijvingGeslachtsaanduiding:
    title: OmschrijvingGeslachtsaanduiding
    example: Man
    type: string
    enum:
    - Man
    - Vrouw
  partnerpersoon:
    title: Partner persoon
    type: object
    properties:
      bsn:
        type: string
      geboortedatum:
        type: string
        format: date-time
      geslachtsaanduiding:
        $ref: '#/definitions/OmschrijvingGeslachtsaanduiding'
      omschrijvingGeslachtsaanduiding:
        $ref: '#/definitions/OmschrijvingGeslachtsaanduiding'
      geslachtsnaam:
        type: string
      voornamen:
        type: string
      voorvoegselGeslachtsnaam:
        type: string
      geboorteLand:
        type: integer
      geboorteplaats:
        type: integer
      overlijdensdatum:
        type: string
        format: 'date-time'
  SoortVerbintenis:
    title: SoortVerbintenis
    example: H
    type: string
    enum:
    - H
    - P
tags: []