--extra-index-url https://nexus.secure.amsterdam.nl/repository/pypi-hosted/simple
zeep==1.6.0
flask==1.0.2
xmltodict==0.10.2
connexion==1.1.9
signxml==2.6.0
flex
click==6.7
werkzeug
lxmlbind
cryptography==2.6.1
tma-saml==0.2
