{
  "swagger": "2.0",
  "info": {
    "title": "BRP Informatie service",
    "description": "Interne service voor het bevragen van BRP informatie. Deze versie bevat uitsluitend ondersteuning voor natuurlijke personen.",
    "termsOfService": "Uitsluitend voor intern gebruik door de Gemeente Amsterdam",
    "contact": {
      "name": "Datapunt Support",
      "url": "https://data.amsterdam.nl/",
      "email": "datapunt@amsterdam.nl"
    },
    "license": {
      "name": "TBD",
      "url": "http://url.van.mogelijke/licentie"
    },
    "version": "1.0.0"
  },
  "host": "brp.data.amsterdam.nl",
  "basePath": "/brp",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/bsn": {
      "get": {
        "description": "Geef het BSN van de huidige gebruiker terug",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "BSN",
            "schema": {
              "$ref": "#/definitions/bsn"
            }
          }
        }
      }
    },
    "/brp": {
      "get": {
        "description": "Informatie over huidige gebruiker uit de basisregistratie personen",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Basisregistratiegegevens",
            "schema": {
              "$ref": "#/definitions/persoon"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "bsn": {
      "type": "object",
      "required": [ "burgerservicenummer" ],
      "properties": {
        "burgerservicenummer": {
          "type": "integer"
        }
      }
    },
    "persoon": {
      "type": "object",
      "required": [
        "voornamen",
        "geslachtsnaam"
      ],
      "properties": {
        "a-nummer": {
          "type": "string"
        },
        "aanduidingNaamgebruik": {
          "type": "string"
        },
        "bsn": {
          "type": "string"
        },
        "burgerlijkeStaat": {
          "type": "string"
        },
        "correspondentieAdres": {
          "type": "null"
        },
        "datumInschrijving": {
          "type": "string"
        },
        "datumVestigingInNederland": {
          "type": "string"
        },
        "geboorteLand": {
          "type": "string"
        },
        "geboortedatum": {
          "type": "string"
        },
        "geboorteplaats": {
          "type": "string"
        },
        "gemeenteVanInschrijving": {
          "type": "string"
        },
        "geslachtsaanduiding": {
          "type": "string"
        },
        "geslachtsnaam": {
          "type": "string"
        },
        "voorvoegselGeslachtsnaam": {
          "type": "string"
        },
        "heeftAlsEchtgenootPartner": {
          "properties": {
            "datumSluiting": {
              "type": "string"
            },
            "gerelateerde": {
              "properties": {
                "bsn": {
                  "type": "string"
                },
                "geboortedatum": {
                  "type": "string"
                },
                "geslachtsnaam": {
                  "type": "string"
                },
                "voorletters": {
                  "type": "string"
                },
                "voornamen": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "landSluiting": {
              "type": "string"
            },
            "plaatsSluiting": {
              "type": "string"
            },
            "soortVerbintenis": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "heeftAlsKinderen": {
          "items": {
            "properties": {
              "gerelateerde": {
                "properties": {
                  "geboortedatum": {
                    "type": "string"
                  },
                  "geslachtsaanduiding": {
                    "type": "string"
                  },
                  "geslachtsnaam": {
                    "type": "string"
                  },
                  "voorletters": {
                    "type": "string"
                  },
                  "voornamen": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "heeftAlsNationaliteit": {
          "items": {
            "properties": {
              "datumVerkrijging": {
                "type": "string"
              },
              "gerelateerde": {
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "omschrijving": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "tijdvakRelatie": {
                "properties": {
                  "beginRelatie": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "heeftAlsOuders": {
          "items": {
            "properties": {
              "gerelateerde": {
                "properties": {
                  "geboortedatum": {
                    "type": "string"
                  },
                  "geslachtsaanduiding": {
                    "type": "string"
                  },
                  "geslachtsnaam": {
                    "type": "string"
                  },
                  "voorletters": {
                    "type": "string"
                  },
                  "voornamen": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "immigratieLand": {
          "type": "string"
        },
        "indicatieGeheim": {
          "type": "string"
        },
        "tijdvakGeldigheid": {
          "properties": {
            "beginGeldigheid": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "verblijfsadres": {
          "properties": {
            "begindatumVerblijf": {
              "type": "string"
            },
            "huisnummer": {
              "type": "string"
            },
            "huisnummertoevoeging": {
              "type": "string"
            },
            "identificatie": {
              "type": "string"
            },
            "openbareRuimteNaam": {
              "type": "string"
            },
            "postcode": {
              "type": "string"
            },
            "straatnaam": {
              "type": "string"
            },
            "woonplaatsNaam": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "verblijftIn": {
          "properties": {
            "gerelateerde": {
              "properties": {
                "adresAanduidingGrp": {
                  "properties": {
                    "huisnummer": {
                      "type": "string"
                    },
                    "huisnummertoevoeging": {
                      "type": "string"
                    },
                    "identificatie": {
                      "type": "string"
                    },
                    "openbareRuimteNaam": {
                      "type": "string"
                    },
                    "postcode": {
                      "type": "string"
                    },
                    "woonplaatsNaam": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "authentiek": {
                  "type": "string"
                },
                "identificatie": {
                  "type": "string"
                },
                "typering": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "tijdvakRelatie": {
              "properties": {
                "beginRelatie": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "voorletters": {
          "type": "string"
        },
        "voornamen": {
          "type": "string"
        }
      }
    }
  }
}
