<soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:BG="http://www.egem.nl/StUF/sector/bg/0204"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:StUF="http://www.egem.nl/StUF/StUF0204">
    <soapenv:Header/>
    <soapenv:Body>

        <BG:vraagBericht>
            <StUF:stuurgegevens>
                <StUF:berichtsoort>Lv01</StUF:berichtsoort>
                <StUF:entiteittype>ADR</StUF:entiteittype>
                <StUF:sectormodel>BG</StUF:sectormodel>
                <StUF:versieStUF>0204</StUF:versieStUF>
                <StUF:versieSectormodel>0204</StUF:versieSectormodel>
                <StUF:zender>
                    <StUF:organisatie/>
                    <StUF:applicatie>{{ applicatie }}</StUF:applicatie>
                    <StUF:gebruiker>{{ gebruiker }}</StUF:gebruiker>
                </StUF:zender>
                <StUF:ontvanger>
                    <StUF:organisatie>Amsterdam</StUF:organisatie>
                    <StUF:applicatie>CGS</StUF:applicatie>
                </StUF:ontvanger>
                <StUF:referentienummer>{{ referentienummer }}</StUF:referentienummer>
                <StUF:tijdstipBericht>{{ timestamp }}</StUF:tijdstipBericht>
                <StUF:vraag>
                    <StUF:maximumAantal>1</StUF:maximumAantal>
                </StUF:vraag>
            </StUF:stuurgegevens>
            <BG:body>
                <!-- van tot en met dus 2x dezelfde om er maar 1 te krijgen. -->
                <BG:ADR StUF:sleutelGegevensbeheer="{{ adres_sleutel }}"  soortEntiteit="F"/>
                <BG:ADR StUF:sleutelGegevensbeheer="{{ adres_sleutel }}"  soortEntiteit="F"/>
                <BG:ADR soortEntiteit="F">
                    <BG:postcode/>
                    <BG:woonplaatsnaam/>
                    <BG:ADRPRSVBL soortEntiteit="R">
                        <StUF:extraElementen>
                            <StUF:extraElement naam="aanduidingGegevensInOnderzoek"/>
                        </StUF:extraElementen>
                        <BG:PRS soortEntiteit="F">
                            <BG:datumOverlijden/>
                        </BG:PRS>
                    </BG:ADRPRSVBL>
                </BG:ADR>
            </BG:body>

        </BG:vraagBericht>
    </soapenv:Body>
</soapenv:Envelope>
