<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:ns="http://www.egem.nl/StUF/sector/bg/0310" xmlns:stuf="http://www.egem.nl/StUF/StUF0301"
                  xmlns:xlin="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml">
    <soapenv:Header/>
    <soapenv:Body>
        <ns:npsLv01>
            <ns:stuurgegevens>
                <stuf:berichtcode>Lv01</stuf:berichtcode>
                <stuf:zender>
                    <stuf:applicatie>{{ applicatie }}</stuf:applicatie>
                    <stuf:gebruiker>{{ gebruiker }}</stuf:gebruiker>
                </stuf:zender>
                <stuf:ontvanger>
                    <stuf:organisatie>Amsterdam</stuf:organisatie>
                    <stuf:applicatie>CGM</stuf:applicatie>
                </stuf:ontvanger>
                <stuf:referentienummer>{{ referentienummer }}</stuf:referentienummer>
                <stuf:tijdstipBericht>{{ timestamp }}</stuf:tijdstipBericht>
                <stuf:entiteittype>NPS</stuf:entiteittype>
            </ns:stuurgegevens>
            <ns:parameters>
                <stuf:sortering>01</stuf:sortering>
                <stuf:indicatorVervolgvraag>false</stuf:indicatorVervolgvraag>
                <stuf:maximumAantal>1</stuf:maximumAantal>
                <stuf:indicatorAfnemerIndicatie>false</stuf:indicatorAfnemerIndicatie>
                <stuf:indicatorAantal>false</stuf:indicatorAantal>
            </ns:parameters>
            <ns:gelijk stuf:entiteittype="NPS">
                <ns:inp.bsn>{{ bsn }}</ns:inp.bsn>
            </ns:gelijk>
            <ns:scope>
                <ns:object stuf:entiteittype="NPS" stuf:scope="alles"/>
            </ns:scope>
        </ns:npsLv01>
    </soapenv:Body>
</soapenv:Envelope>